<p id="notice"><%= notice %></p>

  <div class="row showpage">
    <div class="d-none d-sm-none d-md-none d-lg-block col-lg-6">
      <%= image_tag "photo2.jpg", class: "photo2" %>
    </div>

  <div class="col-lg-6 col-md-6 col-sm-block col-sm-12 candidates_data">
    <p>
      <strong>Name:</strong>
      <%= @candidate.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @candidate.email %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @candidate.phone %>
    </p>

    <p>
      <strong>Job:</strong>
      <%= @candidate.job %>
    </p>

    <p>
      <strong>Created:</strong>
      <%= @candidate.created %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @candidate.note %>
    </p>

    <%= link_to 'Edit', edit_candidate_path(@candidate), class: "btn btn-warning" %> |
    <%= link_to 'Back', candidates_path, class: "btn btn-primary" %>
    
  </div>
</div>

